<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <title>GM9ja | Admin</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CSource+Sans+Pro:400,600,700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/font-icons.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="/assets//assets/img/favicon.ico">
  <link rel="apple-touch-icon" href="/assets//assets/img/apple-touch-icon.html">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets//assets/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets//assets/img/apple-touch-icon-114x114.png">

  <!-- Lazyload (must be placed in head in order to work) -->
   <!-- Lazyload (must be placed in head in order to work) -->
  <script src="/assets/js/lazysizes.min.js"></script>

  <script src="/assets/js/xml2json.js"></script>

  <!-- angular js  -->

  <script src="/assets/js/angular-1.7.2/angular.min.js"></script>


</head>

<body class="bg-light single-post style-default style-rounded" ng-controller="adminFeedsCtlr">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>
  
  <!-- Bg Overlay -->
  <div class="content-overlay"></div>

  <!-- Sidenav -->    
  <header class="sidenav" id="sidenav">

    <!-- close -->
    <div class="sidenav__close">
      <button class="sidenav__close-button" id="sidenav__close-button" aria-label="close sidenav">
        <i class="ui-close sidenav__close-icon"></i>
      </button>
    </div>
    
    <!-- Nav -->
    <nav class="sidenav__menu-container">
      <ul class="sidenav__menu" role="menubar">
        <li>
          <a href="#" class="sidenav__menu-url">Home</a>
          <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
          <ul class="sidenav__menu-dropdown">
            <li><a href="index-2.html" class="sidenav__menu-url">Home Default</a></li>
            <li><a href="index-politics.html" class="sidenav__menu-url">Home Politics</a></li>
            <li><a href="index-fashion.html" class="sidenav__menu-url">Home Fashion</a></li>
            <li><a href="index-games.html" class="sidenav__menu-url">Home Games</a></li>
            <li><a href="index-videos.html" class="sidenav__menu-url">Home Videos</a></li>
            <li><a href="index-music.html" class="sidenav__menu-url">Home Music</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidenav__menu-url">Pages</a>
          <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
          <ul class="sidenav__menu-dropdown">
            <li><a href="about.html" class="sidenav__menu-url">About</a></li>
            <li><a href="contact.html" class="sidenav__menu-url">Contact</a></li>
            <li><a href="search-results.html" class="sidenav__menu-url">Search Results</a></li>
            <li><a href="categories.html" class="sidenav__menu-url">Categories</a></li>
            <li><a href="404.html" class="sidenav__menu-url">404</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidenav__menu-url">Features</a>
          <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
          <ul class="sidenav__menu-dropdown">
            <li>
              <a href="#" class="sidenav__menu-url">Single Post</a>
              <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
              <ul class="sidenav__menu-dropdown">
                <li><a href="single-post.html" class="sidenav__menu-url">Style 1</a></li>
                <li><a href="single-post-politics.html" class="sidenav__menu-url">Style 2</a></li>
                <li><a href="single-post-fashion.html" class="sidenav__menu-url">Style 3</a></li>
                <li><a href="single-post-games.html" class="sidenav__menu-url">Style 4</a></li>
                <li><a href="single-post-videos.html" class="sidenav__menu-url">Style 5</a></li>
                <li><a href="single-post-music.html" class="sidenav__menu-url">Style 6</a></li>
              </ul>
            </li>
            <li><a href="shortcodes.html" class="sidenav__menu-url">Shortcodes</a></li>
          </ul>
        </li>        

        <!-- Categories -->
        <li>
          <a href="#" class="sidenav__menu-url">World</a>
        </li>
        <li>
          <a href="#" class="sidenav__menu-url">Business</a>
        </li>
        <li>
          <a href="#" class="sidenav__menu-url">Fashion</a>
        </li>
        <li>
          <a href="#" class="sidenav__menu-url">Lifestyle</a>
        </li>
        <li>
          <a href="#" class="sidenav__menu-url">Advertise</a>
        </li>
      </ul>
    </nav>

    <div class="socials sidenav__socials"> 
      <a class="social social-facebook" href="#" target="_blank" aria-label="facebook">
        <i class="ui-facebook"></i>
      </a>
      <a class="social social-twitter" href="#" target="_blank" aria-label="twitter">
        <i class="ui-twitter"></i>
      </a>
      <a class="social social-google-plus" href="#" target="_blank" aria-label="google">
        <i class="ui-google"></i>
      </a>
      <a class="social social-youtube" href="#" target="_blank" aria-label="youtube">
        <i class="ui-youtube"></i>
      </a>
      <a class="social social-instagram" href="#" target="_blank" aria-label="instagram">
        <i class="ui-instagram"></i>
      </a>
    </div>
  </header> <!-- end sidenav -->


  <main>
    <h4 style="padding: 30px">GM9ja Admin</h4>
    <div style="width: 80%;margin: 0 auto">
       <a href="/">home</a>
    </div>
    <div style="width: 80%;margin: 0 auto">

      <ul style="display: inline-block;list-style: none;padding: 20px">
        <li style="float: left;padding: 20px"><button class="btn btn-info">Add source</button></li>
        <li style="float: left;padding: 20px"><button class="btn btn-info">Edit source</button></li>
        <li style="float: left;padding: 20px"><button class="btn btn-info">Add Remove</button></li>
       <!-- <li style="float: left;padding: 20px"><button class="btn btn-info" ng-click="addAll()">Add All</button></li>
        <li style="float: left;padding: 20px"><button class="btn btn-info" ng-click="addFootball()">Add Football</button></li>-->
      </ul>
    </div>
  </main>

  
  <script src="/assets/js/angular-1.7.2/angular-resource.min.js"></script>  
  <script type="text/javascript" src="/assets/js/moment.min.js"></script>
  <script src="/assets/js/angular-moment.min.js"></script>  
  <script src="/assets/js/modalService.js"></script>
  <script src="/assets/js/client.js"></script>
  <!-- jQuery Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/easing.min.js"></script>
  <script src="/assets/js/owl-carousel.min.js"></script>
  <script src="/assets/js/flickity.pkgd.min.js"></script>
  <script src="/assets/js/twitterFetcher_min.js"></script>
  <script src="/assets/js/jquery.newsTicker.min.js"></script>  
  <script src="/assets/js/modernizr.min.js"></script>
  <script src="/assets/js/scripts.js"></script>

</body>

<!-- Mirrored from junniepat.com/envato/WOBI/html/single-post.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Jun 2018 16:12:38 GMT -->
</html>